* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Cooper Black;
}

.img-responsive {
  max-width: 100%;
}

.header {
  background-image: url("bgimg.jpg");
  background-size: 100% 110%;
  background-position: center;
  width: 100%;
  height: 110vh;
}

.nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100px;
  position: fixed;
  top: 0px;
}

.nav .logo {
  float: left;
  width: 25%;
  line-height: 100px;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.nav .logo h2 {
  text-align: left;
  font-weight: bold;
  font-family: Cooper Black;
}

.nav .logo span {
  font-family: jokerman;
  font-style: italic;
  font-size: 21x;
  letter-spacing: 3px;
  font-weight: bold;
  color: orange;
}

.nav .list {
  width: 75%;
  height: 20px;
  float: right;
  margin-left: 200px;
}

.nav .list ul {
  list-style-type: none;
}

.nav .list ul li {
  display: inline-block;
  line-height: 100px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 16px;
}

.list #li1 {
  color: orange;
}

.nav .list ul li a:hover {
  color: white;
  transition: 0.5s;
  font-size: 18px;
  background: orange;
  border-radius: 15px;
}

.nav .list ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.fas {
  margin-right: 8px;
  font-size: 20px;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
}

.content h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.content p {
  width: 80%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0px 20px 100px;
}

#buttonone {
  text-align: center;
  margin-left: 40%;
  border: none;
  outline: none;
  padding: 16px 30px;
  font-weight: bold;
  border: 2px solid white;
  margin-right: 5px;
}

#buttontwo {
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  padding: 16px 30px;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

#buttonone:hover {
  outline: 4px solid white;
  font-size: 17px;
  transition: 0.5s;
}

#buttontwo:hover {
  outline: 4px solid white;
  font-size: 17px;
  transition: 0.5s;
}

.ouritem {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 100px 0px 100px 0px;
  overflow-x: auto;
}

.ouritem::-webkit-scrollbar {
  width: 0px;
}

.ouritem div {
  width: 80%;
  line-height: 700px;
  margin-left: 100px;
  float: left;
}

.ouritem div img {
  width: 275px;
  height: 250px;
  border-radius: 50%;
}

.ouritem div img:hover {
  width: 250px;
  height: 225px;
  background-color: orange;
}

.fooditem {
  width: 100%;
  float: left;
  margin: 100px 0px;
}

.fooditem h1 {
  text-align: center;
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration-color: orange;
}

#con1 {
  float: left;
  width: 90%;
  box-shadow: 10px 10px 10px 0px gray;
  margin: 40px 0px 0px 20px;
  border: 0.5px solid gray;
}

#con1 img {
  float: left;
  padding: 10px;
}

#con1 h2,
p {
  float: left;
  width: 800px;
  padding: 20px;
}

#con1 h2 {
  font-size: 30px;
}

#con1 p {
  font-size: 15px;
  word-spacing: 10px;
}

#con2 {
  float: left;
  width: 90%;
  box-shadow: 10px 10px 10px 0px gray;
  margin: 20px 0px 0px 120px;
  border: 0px solid gray;
}

#con2 img {
  padding: 20px 0px 20px 0px;
  margin-left: 100px;
}

#con2 h2,
p {
  float: left;
  width: 800px;
  padding: 20px;
}

#con2 h2 {
  font-size: 30px;
}

#con2 p {
  font-size: 15px;
  word-spacing: 10px;
}

.ourchef {
  padding: 0px;
  margin: 0px;
}

.ourchef h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: orange;
  margin: 50px 0px;
  font-size: 40px;
}

.chefimg {
  width: 100%;
  background-color: antiquewhite;
}

.chefimg img {
  padding: 20px;
  margin: 10px 30px;
  border-radius: 50%;
}

.contact {
  display: block;
  width: 100%;
  margin: 100px 0px 0px 0px;
}

.contact h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: orange;
  margin-bottom: 50px;
  font-size: 40px;
}

#form {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px 0px;
}

#form input {
  width: 50%;
  padding: 15px 100px;
  margin: 25px 0px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

#form input:hover {
  background-color: lightgray;
}

#form button {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

#form button:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 50px 0px;
  background-color: black;
}

.footer .social {
  text-align: center;
  padding-bottom: 20px;
}

.footer .social a {
  font-size: 30px;
  color: white;
  padding: 5px 9px;
  margin: 0px 10px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 1;
}

.footer ul {
  list-style-type: none;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
  line-height: 2;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  margin: 0px 20px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer p {
  display: block;
  color: lightgray;
  font-size: 14px;
  text-align: center;
  margin-left: 330px;
}